# Transcrição de áudio
whisper==1.0
pocketsphinx==0.1.15

# Processamento de PDF e texto
pdfplumber==0.9.0
python-magic==0.4.27
SoundFile==0.11.0
SpeechRecognition==3.9.0
pandas==2.1.1
beautifulsoup4==4.12.2
spacy==3.6.1
langchain==0.0.203

# Frameworks de aprendizado profundo e utilitários
PyTorch-Lightning==2.1.1
fuzzywuzzy==0.18.0
unidecode==1.3.6
openai-whisper==20230314
vosk==0.3.45

# Técnicas de sumarização e NLP
sumy==0.8.1
gensim==3.8.3
transformers==4.33.2
torch==2.0.1
sentencepiece==0.1.99
nltk==3.8.1

# Manipulação de arquivos
PyPDF2==3.0.1
python-docx==0.8.11

# Framework e servidor
Flask==2.3.2
Flask-Cors==3.0.10
gunicorn==21.0.0

# Utilitários matemáticos
numpy==1.24.3
scipy==1.10.1

# Outras bibliotecas úteis
srt==3.5.3
