.upload-container {
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
}

mat-card {
  margin: 20px;
  padding: 20px;
}

mat-progress-bar {
  margin-top: 20px;
}

.results-card {
  text-align: left;
}
